.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif #434455;
  background-color: #ffffff;
  overflow-x: hidden;
  width: 100%;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
.section {
  padding: 120px 0;
}
/* common*/
.container,
.footer-container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container,
  .footer-container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container,
  .footer-container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contact-info {
  display: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-web {
  padding: 16px 0;
  display: block;
}
.logo-Studio {
  color: #2e2f42;
}
.Group-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-Group {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .Group-btn {
    display: none;
  }
  .logo-web {
    padding: 24px 0;
    margin-right: 120px;
  }
  .nav-list {
    gap: 40px;
    display: flex;
    list-style: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
    color: #404bbf;
  }
  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 1;
  }
  .nav-link:hover,
  .nav-link:focus,
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  .contact-info {
    font-style: normal;
    display: block;
  }
  .contact-list {
    gap: 12px;
    flex-direction: column;
    display: flex;
  }
  .contact-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .logo-web {
    margin-right: 76px;
  }
  .contact-list {
    gap: 40px;
    flex-direction: row;
    align-items: center;
  }
  .contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    text-decoration: none;
    padding: 24px 0;
  }
}
/*mobile menu*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgb(231, 233, 252);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobale-close-black {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgb(46, 47, 66);
}

.mobale-menu-close:focus {
  background-color: #404bbf;
}
.mobile-menu-close:hover {
  background-color: #404bbf;
}

.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-nav-list {
  gap: 40px;
}
.mobile-nav-link.current {
  color: rgb(64, 75, 191);
}
.mobile-nav-link {
  color: rgb(46, 47, 66);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0, 02em;
  text-align: left;
}
.mobile-menu-adres {
  gap: 24px;
}

.mobale-menu-social {
  margin-top: 48px;
  margin-bottom: 40px;
}
.mobale-social-icons {
  display: flex;
  gap: 40px;
  list-style: none;
}
.mobale-social-it {
  width: 40px;
  height: 40px;
}
.mobale-icon-wrapper {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobale-icon-wrapper:hover,
.mobale-icon-wrapper:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/*hero section*/
.hero {
  max-width: 320px;
  height: 432px;
  padding: 0 16px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mob.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mob@2x.jpeg);
  }

  .hero-title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    padding-top: 72px;
    padding-left: 52px;
    padding-right: 52px;
  }
  .hero-btn {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    padding: 16px 32px;
    display: flex;
    margin: 0 auto;

    width: 169px;
    height: 56px;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 436px;

    left: 0;
    top: 72px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tab.jpeg);
  }

  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-tab@2x.jpeg);
    }

    .hero-title {
      max-width: 496px;
      height: 120px;
      top: 136px;
      line-height: 1.07;
      font-size: 56px;
      margin-bottom: 36px;
    }
    .hero-btn {
      margin-top: 160px;
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    width: 100%;
    background-color: #2e2f42;
    text-align: center;
    color: #ffffff;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desk.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 1158px;
    margin: 0 auto;
  }
  @media screen and (min-resolution: 2x), (-webkit-min-device-pixel-ratio: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-desk@2x.jpeg);
    }
    .hero-title {
      padding: 120px 0;
    }
    .hero-btn {
      display: block;
      margin: 0 auto;
      margin-top: 48px;
    }
  }
}
/*approach*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.approach {
  max-width: 320px;
  padding: 96px 16px;
  margin: 0 auto;
}
.approach-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 72px;
}
.approach-item {
  width: calc((100% - 72px) / 4);
}
.icon-container {
  display: none;
}
.approach-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.approach-description {
  width: 288px;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8;
  padding: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .approach {
    max-width: 768px;
    margin: 0 auto;
  }
  .approach-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
    row-gap: 70px;
  }
  .approach-item {
    width: calc((100% - 24px) / 2);
  }
  .proach-heading {
    font-family: "Roboto", sans-serif;
  }
}
@media screen and (min-width: 1158px) {
  .approach {
    min-width: 1128px;
    padding: 120px 0;
  }

  .approach-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
  }
  .approach-item {
    max-width: calc((100% - 72px) / 4);
  }
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }

  .ico-antenna,
  .ico-clock,
  .ico-diagram,
  .ico-astronaut {
    padding: 24px 100px;
  }

  .approach-heading {
    font-size: 20px;
    font-weight: 500;
  }
}
